

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1>About Me</h1>
				<p>Welcome to my page!</p>
				<h2>Personal Information</h2>
				<p>My name is Bhoomi Radadiya. I am a student at Seneca College , studying in the Business Information Technology . My student ID is 129796223.</p>

				</main>
			</div>
		</div>

	